<h1>Skills Selection</h1>
<p>Please select the skills you have by dragging the skill from the "All Skills" list and dropping it into the "Your Skills" list. You may also select multiple skills by holding CTRL, selecting the relevant skills and dragging them into your skills.</p>
<div id='container' style="min-width:100%">
  <div>
    <oj-label id="label" class="oj-label-inline" for="filter">Search:</oj-label>
    <oj-input-text id="filter" placeholder="Type to search" on-raw-value-changed="[[handleValueChanged]]"
      value="{{filter}}"></oj-input-text>
    <oj-button id="clearButton" on-oj-action='[[clearClick]]' display='icons' chroming='half'>
      <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-cross03'></span>
      Clear
    </oj-button>
  </div>
  <div style="float:left; margin-right:20px; min-width:49%; max-width:100%">
    <fieldset style="border:1px #b0b0b0 solid;padding:10px">
      <legend style="border:1px #b0b0b0 solid;margin-left: 1em;padding:0.2em 0.8em">All Skills</legend>
      <!-- <oj-table id="table" aria-label="Employee Table 1" data="[[tableDataProvider]]" columns='{{columnArray}}'
        selection-mode='{"row": "multiple"}' selection='{{tableSelection}}'
        dnd.drag.rows.data-types='["application/ojtablerows+json"]' dnd.drag.rows.drag-end="[[tableHandleDragEnd]]"
        dnd.drop.rows.data-types='["application/ojlistviewitems+json"]' dnd.drop.rows.drop="[[tableHandleDrop]]"
        edit-mode='rowEdit' edit-row='{{editRow}}' on-oj-before-row-edit='[[beforeRowEditListener]]'
        on-oj-before-row-edit-end='[[beforeRowEditEndListener]]'></oj-table> -->

      <oj-table id="table" aria-label="Skills table" data='[[tableDataProvider]]'columns='[[columnArray]]'
        columns-default.sortable='disabled' selection-mode='{"row": "multiple"}' selection='{{tableSelection}}'
        dnd.drag.rows.data-types='["application/ojtablerows+json"]' dnd.drag.rows.drag-end="[[tableHandleDragEnd]]"
        dnd.drop.rows.data-types='["application/ojlistviewitems+json"]' dnd.drop.rows.drop="[[tableHandleDrop]]"
        style="max-height: 700px; min-width: 100%;">
      </oj-table>
    </fieldset>
  </div>
  <div style="float:left;min-width: 49%;">
    <fieldset style="border:1px #b0b0b0 solid;padding:10px">
      <legend style="border:1px #b0b0b0 solid;margin-left: 1em;padding:0.2em 0.8em">Your Skills</legend>

      <oj-list-view id="listview" aria-label="list with static data" style="min-width:100%;width:100%; max-height: 700px;"
        data="[[listviewDataProvider]]" selection-mode="multiple" selection="{{listviewSelection}}"
        dnd.drag.items.data-types='["application/ojlistviewitems+json"]'
        dnd.drag.items.drag-end="[[listviewHandleDragEnd]]" dnd.drop.items.data-types='["application/ojtablerows+json"]'
        dnd.drop.items.drop="[[listviewHandleDrop]]">
        <template slot="itemTemplate" data-oj-as="item">
            <!-- <span class="avatar" data-bind="style: {backgroundImage: 'url('+item.data.url+')'}"></span> -->
          <div class="oj-flex oj-sm-align-items-center">
            <div class="oj-flex-item" style="padding-right: 10px;">
              <span>
                <oj-bind-text value="[[item.data.name]]"></oj-bind-text>
              </span>
            </div>
            <div class="oj-flex-item">
              <div class="oj-flex oj-sm-justify-content-flex-end">
                <oj-select-single value="proficient" data="[[proficiencyOptions]]" style="width:150px">
                </oj-select-single>
              </div>
            </div>
            <!-- <div class="oj-flex-item"> -->
              <div class="oj-flex oj-sm-justify-content-flex-end">
                <oj-button id=[[item.data.id]] on-oj-action='[[removeSkill]]' display='icons' chroming='half'>
                  <span slot='startIcon' class='oj-fwk-icon oj-fwk-icon-cross03'></span>
                </oj-button>
              </div>
            <!-- </div> -->
            <!-- <div>
                            <span class="oj-text-xs oj-text-secondary-color"><oj-bind-text value="[[item.data.job]]"></oj-bind-text></span>
                        </div> -->
          </div>
        </template>
      </oj-list-view>
    </fieldset>
  </div>

  <div style="clear:both"></div>
</div>