<div class="oj-hybrid-padding">
  <h1>User List</h1>

  <div data-bind="if: apiLoaded" class="oj-flex">
    
    <oj-data-grid 
      id="userDatagrid"
      style="height: 500px; width:100%"
      data="[[userDatasource]]"
      banding-interval.row="1"
      dnd.reorder.row="enable"
      header.column.renderer="[[oj.KnockoutTemplateUtils.getRenderer('header_template')]]"
      header.column.style="width:150px"
      cell.renderer="[[getCellTemplate]]"
      cell.class-name="[[getCellClassName]]">
    </oj-data-grid>

  </div>

  <!-- <div data-bind="ifnot: apiLoaded">
    <p>Loading</p>
  </div> -->

  <script type="text/html" id="header_template">
    <!-- ko if: $context.key=='firstName' -->            
        <span data-bind="text: 'First Name'"></span>
    <!-- /ko -->
    <!-- ko if: $context.key=='surname' -->
        <span data-bind="text: 'Surname'"></span>
    <!-- /ko -->
    <!-- ko if: $context.key=='stream' -->
        <span data-bind="text: 'Stream'"></span>
    <!-- /ko -->
    <!-- ko if: $context.key=='skillsAdded' -->
        <span data-bind="text: 'Has Added Skills'"></span>
    <!-- /ko -->
    <!-- ko if: $context.key=='skills' -->
    <span data-bind="text: 'Skills'"></span>
    <!-- /ko -->
  </script>

  <script type="text/html" id="cellTemplate">

    <div data-bind="if: ($context.keys.column === 'skills')">

      <oj-button
        data-bind="click: $parent.onUserSkillButton.bind($data, $context.user)"
        disabled="[[$parent.isEmptyInverted($context.user.skills)]]"
        style="margin: 3px; height: 25px"
        class="oj-button-confirm">
        Open Skills
      </oj-button>

    </div>

    <div data-bind="ifnot: ($context.keys.column === 'skills')">

      <span data-bind="text: $context.data"></span>

    </div>
    
  </script>

</div>
